.Header-content{
    width: 100%;
    height: 20vh;
    display: flex;
    position: fixed;
    z-index: 9999;

    .modal-header{
        display: none;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }

    .logo-content{
        width: 15%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        a{
            width: auto;
            height: 100%; ;
            display: flex;
            justify-content:center;
            align-items: center;
            img{
                width: auto;
                height: 100%;
                cursor: pointer;
            }
        }
    }

    .entrprise-name{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--white-color);
    }

    .profil-content{
        width: 35%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .profil-name{
            width: 100%;
            display: flex;
            align-items: center;
            color: var(--white-color);
            font-size: 20px;
            

            .params-header-content{
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .params-icon{
                    width: auto;
                    height: auto;
                    font-size: 25px;
                    cursor: pointer;
                    margin-right: 35px;
                    color: var(--white-color);
                }

                .logout-Icon{
                    width: auto;
                    height: auto;
                    font-size: 25px;
                    cursor: pointer;
                    color: var(--white-color);
                    margin-right: 15px;
                }
            }
            
            .account-header-content{
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;

                .account-header{
                    width: auto;
                    height: auto;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .profil-icon{
                        font-size: 30px;
                        margin-left: 25px;
                        color: var(--white-color);
                    }
                }
            }
        }
    }
}


@media (max-width: 800px) {
    
    .Header-content{
        width: 100%;
        height: 20vh;
        background-color: var(--main-color);
        display: flex;

        .modal-header{
            display: block;
            width: 30%;
            height: 100%;
            color: var(--white-color);
            display: flex;
            justify-content: center;
            align-items: center;

            .modal-sand{
                display: flex;
                justify-content: center;
                width: auto;
                height: auto; 
                cursor: pointer;

                .icon-active{
                    transform:  rotate(0deg);
                    transition: .2s ease;
                }

                .icon-desactive{
                    transform: rotate(90deg);
                    transition: .2s ease;
                }
            }
        }
    
        .logo-content{
            width: 40%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img{
                width: auto;
                height: 80%;
                cursor: pointer;
            }
        }
    
        .entrprise-name{
            display: none;
        }
    
        .profil-content{
            display: none;   
        }
    }
    

}