.displayDashboard{
    display: flex;
    align-items: center;
    justify-content: center;

    .settingsInformationAmount{
        width: 83%;
        height: 80vh;
        display: flex;
        justify-content: center;
    }
}